<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Test Javascript</title>
    <!--styles-->
    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <!--libraries-->
    <script src="Scripts/jquery-3.1.1.js"></script>
    <script src="Scripts/tether.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/xml2json.js"></script>
    <!--scripts-->
    <script src="app/myApp.js"></script>
    <script src="app/config.js"></script>
    <script src="Services/servicioFront.js"></script>
    <script src="Controllers/controladorFront.js"></script>
</head>
<body ng-controller="myCtrl">
    <div class="container">
        <input type="button" name="prueba" value="prueba" ng-click="haceCuantoTiempo(1493172604448)" />

        <div class="card card-inverse" style="background-color: #333; border-color: #333;">
            <div class="card-block">
                <h3 class="card-title">Test Javascript</h3>
                <p class="card-text">Necesitamos crear el FrontEnd de una aplicación que muestre la cotizaciones de monedas.</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">Simulacion Mock</button>
                    <button type="button" class="btn btn-secondary">Consumo de Datos</button>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Dolar</h4>
                    <!--elemento a iterar-->
                    <div class="card card-outline-info mb-3 text-center" ng-repeat="item in Dolar">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Cotiza en: <b>{{item.PrecioVenta}} </b> <small class="text-muted">LU:</small><small class="text-muted">{{haceCuantoTiempo(item.stamp)}}</small></p>
                            </blockquote>
                        </div>
                    </div>
                    <!----------------------------->
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Pesos</h4>
                    <!--elemento a iterar-->
                        <div class="card card-outline-info mb-3 text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Cotiza en: <b>15.300 </b> <small class="text-muted">Ultima actualizacion:</small><small class="text-muted">3m</small></p>

                                </blockquote>
                            </div>
                        </div>
                    <!----------------------------->
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Reales</h4>
                    <!--elemento a iterar-->
                        <div class="card card-outline-info mb-3 text-center" >
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Cotiza en: <b>15.300 </b> <small class="text-muted">Ultima actualizacion:</small><small class="text-muted">3m</small></p>

                                </blockquote>
                            </div>
                        </div>
                    <!----------------------------->
                </div>
            </div>
        </div>
         
    </div>
</body>
</html>
